body {
	margin: 0;
	padding: 0
	background-color: black;
	font-family: arial;
}

.main {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.main h1 {
	margin: 0;
	padding: 0;
	font-weight: 900;
	text-transform: uppercase;
	font-size: 20vw;
	color: rgba(250,250,250,0.1);
	background-image: url(https://lh3.googleusercontent.com/JM8xALZ4D2Ps9VtteJExSuAmggVyBifb6J5Dh3CARtXQCAE2hPPPETqjCH8be55f2nZWle-oVXVOaM3HcOSfL6UC7dQuHVHHWh_DEjJA8THigq2IMw1BnaPgUgbhncry2rTK2q2vNg=w2400);
	background-repeat: repeat-x;
	-webkit-background-clip: text;
	animation: animate 20s linear infinite;
}

@keyframes animate {
	0% {
		background-position: left 100px top 0px;
	}
	20% {
		background-position: left 200px top 0px;
	}
	40% {
		background-position: left 300px top 0px;
	}
	80% {
		background-position: left 200px top 0px;
	}
	100% {
		background-position: left 100px top 0px;
	}
}