.postimg img{
  width: 10vw;
  height: auto;
  transform: translateX(83%) translateY(-35%);
  position: relative;
  border-radius: 0.2rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: transform .3s;
}

.postbanner {
  float: left;
  width: 90%;
  margin: 10% 5% -2% 5%;
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  background: #12c2e9;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #f64f59, #c471ed, #12c2e9);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  align-content: center;
  align-items: center;
  border-radius: 0.5rem;
  text-align: center;
}

.postbanner span {
  width: 100%;
  display: block;
  text-align: center;
  font-family: Helvetica;
  color: rgba(255, 255, 255, .9);
  font-size: 2vw;
  font-weight: bolder;
  margin: 2%;
}

.postimg img:hover{
  transform: translateX(83%) translateY(-40%);
}

.postimg {
  margin-bottom: 25%;
}

.post {
  float: left;
  width: 27.3%;
  margin: 10% 3% 5% 3%;
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  background: #f2709c;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ff9472, #f2709c);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ff9472, #f2709c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  align-content: center;
  align-items: center;
  border-radius: 0.5rem;
}

.postinfo {
  text-align: center;
  width: 100%;
  margin-top: 45%;
  padding: 5%;
}


.postinfo span{
  display: block;
  font-family: Helvetica;
  color: rgba(255, 255, 255, .9);
  font-size: 1.5vw;
  font-weight: bolder;
  margin: 2%;
}


.posthead {
  width: 180%;
  margin-top: -20%;
  margin-left: -75%;
}

@media screen and (max-width: 480px) {
  .post {
    width: 60%;
    margin: 5% 20%;
  }
  .postimg img{
    width: 29vw;
    height: auto;
    transform: translateX(50%) translateY(-10%);
  }
  .postimg img:hover{
    transform: translateX(50%) translateY(-10%);
  }
  .postinfo span{
    display: block;
    font-family: Helvetica;
    color: rgba(255, 255, 255, 0.8);
    font-size: 3.5vw;
    font-weight: bolder;
    margin: 2%;
  }
  .posthead {
    margin-top: 0%;
    margin-left: -105%;
  }
  .postbanner {
    margin: 10% 5% 5% 5%;
  }
}

